*~
.\#*
\#**\#
.*.sw[op]
.sw[op]
*.bak

output/*
*.txt
*.png
test.png
*.pickle
cxtest.py
figure/*
save/*
.vscode/
build/

!fic-topo-file-cross.txt
!exp_random/fft_16.txt
!exp_random/a2a_16.txt
!exp_random/fork_16.txt

__pycache__